.content{
    margin-top: 20%;
}
.AnnotationTool{
    background-color: rgba(166, 166, 166, 0.7)
}
.button1{
    border: none;
    background-color: transparent;
}
.iconstyly{
    font-size: 30px;
}
.blueicon {
    color: blue;
  }